---
// import splt from 'spltjs'
// import anime from 'animejs'
const { item } = Astro.props
const { url:href, icon, color="" } = item.data

const clean_label = (str: string): string => {
  return str.split('/')[1]
}

const label:string = clean_label( item.id )

// splt({
//   reveal: true
// })
---
<li class="flex flex-col items-center justify-center">
  <a target="_blank" class={`Bookmark flex flex-col items-center justify-center max-w-fit ${color}`} {href}>
    <i class={`text-6xl nf ${icon} ${color}`}></i>
    <h2 class={`text-3xl mt-4`}>{label}</h2> 
  </a>
</li>

<style>
.yellow {
  @apply text-yellow;
}

.purple {
  @apply text-purple;
}

.red {
  @apply text-red;
}

.cyan {
  @apply text-cyan;
}

.green {
  @apply text-green;
}

.white {
  @apply text-white;
}

.pink {
  @apply text-pink;
}
</style>
